<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>lec0628</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>jp.ac.kic.st.s15018.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginCheckServlet</display-name>
    <servlet-name>LoginCheckServlet</servlet-name>
    <servlet-class>jp.ac.kic.st.s15018.LoginCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCheckServlet</servlet-name>
    <url-pattern>/LoginCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminIndexServlet</display-name>
    <servlet-name>AdminIndexServlet</servlet-name>
    <servlet-class>jp.ac.kic.st.s15018.AdminIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexServlet</servlet-name>
    <url-pattern>/AdminIndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOff</display-name>
    <servlet-name>LogOff</servlet-name>
    <servlet-class>jp.ac.kic.st.s15018.LogOff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOff</servlet-name>
    <url-pattern>/LogOff</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminBookAddServlet</display-name>
    <servlet-name>AdminBookAddServlet</servlet-name>
    <servlet-class>jp.ac.kic.st.s15018.AdminBookAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminBookAddServlet</servlet-name>
    <url-pattern>/AdminBookAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeKashidashiServlet</display-name>
    <servlet-name>ChangeKashidashiServlet</servlet-name>
    <servlet-class>jp.ac.kic.st.s15018.ChangeKashidashiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeKashidashiServlet</servlet-name>
    <url-pattern>/ChangeKashidashiServlet</url-pattern>
  </servlet-mapping>
</web-app>